.DS_Store
.venv/
__pycache__/
*.pyc
.pytest_cache/
coverage.xml
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
files/lambda.zip
*.zip
